<form [formGroup]="taskForm" class="space-y-4">
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required class="w-full">
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Description</mat-label>
      <input matInput formControlName="description" required class="w-full">
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Assigned To</mat-label>
      <input matInput formControlName="assigned_to" required class="w-full">
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="w-full">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status" class="w-full">
        <mat-option value="Pending">Pending</mat-option>
        <mat-option value="In Progress">In Progress</mat-option>
        <mat-option value="Completed">Completed</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-dialog-actions class="flex justify-end space-x-2">
      <button mat-button (click)="onCancel()" class="text-blue-600">Cancel</button>
      <button mat-button color="primary" (click)="onSubmit()" [disabled]="taskForm.invalid"
        class="bg-blue-500 text-white px-4 py-2 rounded disabled:bg-gray-300">
        Save
      </button>
    </mat-dialog-actions>
  </form>
  